# Xcode
xcuserdata/
*.xcuserstate
*.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
DerivedData/
build/
*.ipa
*.dSYM.zip
*.dSYM

# SwiftPM
.build/
.swiftpm/

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Xcode Cloud
ci_scripts/

.claude/
